#root {
  margin: 0px;
  padding: 0px;
}

.app {
  width: 1440px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    display: inline;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
